body{
    background-image: url(../../assets/train.webp); 
   background-repeat: no-repeat;
   margin-left: 0%;
   margin-right: 0%;
   background-color: rgb(33, 80, 80);
   
 }
 .container-fluid{
   
   background-image: url(../../assets/train.webp);
   background-repeat: no-repeat;
   margin-left: 0%;
   margin-right: 0%;
 }