body{
    background-image: url(C:\Users\divya\Downloads\sandy.jpg); 
   background-repeat: no-repeat;
   margin-left: 0%;
   margin-right: 0%;
   background-color: rgb(33, 80, 80);
   
 }
 .container-fluid{
   
   background-image: url(C:\Users\divya\Downloads\sandy.jpg);
   background-repeat: no-repeat;
   margin-left: 0%;
   margin-right: 0%;
 }