<div class="containerr-fluid   ">
<nav class="navbar_navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Railway Reservation</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class="nav-link" routerLink="/adminlogin" routerLinkActive="active"><span class="glyphicon glyphicon-log-in" ></span>  Admin</a></li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<div>
  <app-footer></app-footer>
</div> 
</div>