<div class="container-fluid">
  <body>
    <header>
      <div class="home">
        <h1>Please Click Below button</h1>
        <button id="submit" class="btn" type="submit" routerLink="/adminhome"
          routerLinkActive="active">Home</button>
        &nbsp;
        <button id="submit" class="btn" type="submit" (click)="addTrainPage()">Add Train</button>
        &nbsp;
        <button id="submit" class="btn" type="submit" (click)="viewTrainPage()">View Train</button>
        <!-- &nbsp;
        <button id="submit" class="btn" type="submit" (click)=" bookedTicketPage()">Book Tickets</button> -->
        &nbsp;
        <button id="submit" class="btn" type="submit" routerLink="/login" routerLinkActive="active">Logout</button>
      </div>
    </header>
  </body>
</div>