/* body{ */
/* background-image: url(../../assets/train.webp);  */
/* background-repeat: no-repeat;
 margin-left: 0%;
 margin-right: 0%; */
/* background-color: rgb(33, 80, 80); */

/* }
.container{ */
/* margin: 30px auto; */
/* }
.container-fluid{
 margin-left: 0%;
 margin-right: 0%;
}

  .container-fluid h3 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
  }
  .container-fluid:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  .container-fluid h2 {
    margin: -10px 0px 10px 0px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
  }
  .btn{
    position: absolute;
    bottom: 55px;
  }
  .logout{
    margin-left: 120px;
  }
  .bookedTicket{
    background-color: green;
    height: 20px;
  }
  .bookedTicket .success-msg{
    font-size: 15px;
    font-weight: bold;
    color: #1e1e1e;
    text-align: center;
    padding: 3px 0px 0px 0px !important; */
/* margin: 0px 0px 0px 400px !important; */
/* } */

footer {
  margin-top: 25%;
}
.search1 {
  border-radius: 15px;
  width: 80vw;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(45, 45, 45, 0.15),
    -1px -1px 6px rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2vw;
  height: 70px;
  margin-top: 10px;
  font-size: large;
  font-weight: bolder;
  font-family: sans-serif;
}
.searchTable {
  border-radius: 15px;
  width: 80vw;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15), -1px -1px 6px rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 5vw;
  margin-top: 10px;
}
.from {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.44vw 1.78vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 10px 0px 10px 0px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.from2 {
  margin-top: 90px;
  float: left;
  margin-left: 20px;
}
.sucessBooking {
  border-radius: 15px;
  width: 80vw;
  background-color: #07ba43;
  box-shadow: 1px 2px 6px rgba(45, 45, 45, 0.15),
    -1px -1px 6px rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2vw;
  height: 20px;
  margin-top: 10px;
  font-size: medium;
  font-weight: bolder;
}
