<!-- Resevation Details -->
<!-- <div class="form-group">
        // to get passenger id
        <label for="passenger">Passenger</label>

        <select name="my-select" ng-model="_user" id="_user._id" [(ngModel)]="_user._id" class="form-control">
          <option disabled>Select Passenger</option>
          <option>Choose Passenger</option>
          <option *ngFor="let i of _user" value="{{i._id}}">{{i.name}}</option>
        </select>
      </div> -->

<div class="main">
  <div class="search1">RESERVE A TICKET</div>
  <div class="search">
    <div class="formDetails">
      <form [formGroup]="TPData">
        <div class="from">
          <div class="serchItemBox">
            <div class="searchItem">
              <div class="form-group">
                <label for="name">Train Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  formControlName="_id"
                  required
                  [(ngModel)]="train._id"
                  name="_id"
                  readonly="readonly"
                />
              </div>
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <div class="form-group">
                <label for="name">Train Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="train_name"
                  formControlName="train_name"
                  required
                  [(ngModel)]="train.train_name"
                  name="train_name"
                  readonly="readonly"
                />
              </div>
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <div class="form-group">
                <label for="name">Source</label>
                <input
                  type="text"
                  class="form-control"
                  id="from"
                  formControlName="from"
                  required
                  [(ngModel)]="train.from"
                  name="from"
                  readonly="readonly"
                />
              </div>
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <div class="form-group">
                <label for="name">Destination</label>
                <input
                  type="text"
                  class="form-control"
                  id="to"
                  formControlName="to"
                  required
                  [(ngModel)]="train.to"
                  name="to"
                  readonly="readonly"
                />
              </div>
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <div class="form-group">
                <label for="name">Fare</label>
                <input
                  type="number"
                  class="form-control"
                  id="fare"
                  formControlName="fare"
                  required
                  [(ngModel)]="train.fare"
                  name="fare"
                  readonly="readonly"
                />
              </div>
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <div class="form-group">
                <label for="name">Passenger Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  required
                  name="name"
                />
              </div>
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <div class="form-group">
                <label for="name" style="margin-left: -265px"
                  >Arrival Time</label
                >
                <input
                  type="time"
                  class="form-control"
                  id="arrival_time"
                  formControlName="arrival_time"
                  required
                  [(ngModel)]="train.arrival_time"
                  name="arrival_time"
                  readonly="readonly"
                />
              </div>
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <div class="form-group">
                <label for="name" style="margin-left: -265px"
                  >Departure Time</label
                >
                <input
                  type="time"
                  class="form-control"
                  id="departure_time"
                  formControlName="departure_time"
                  required
                  [(ngModel)]="train.departure_time"
                  name="fare"
                  readonly="readonly"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="from1">
      <div style="width: 18vw; height: 4vw">
        <button
          type="submit"
          class="btn btn-success"
          (click)="Booking(train._id, _user._id)"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <div class="from2">
    <div style="width: 18vw; height: 4vw">
      <button
        type="submit"
        class="btn btn-primary home"
        routerLink="/search"
        routerLinkActive="active"
      >
        Back
      </button>
    </div>
  </div>
</div>
