<div class="container-fluid">
  <header>
    <h1 class="hd">Railway Reservation System</h1>
  </header>
  <div class="sidenav">
    <a href="userhome" routerLink="/search" routerLinkActive="active">Home</a>
    <a
      href="userviewtrainfwd"
      routerLink="/viewbookticket"
      routerLinkActive="active"
      >View Ticket</a
    >
    <a href="userlogout" routerLink="/login" routerLinkActive="active"
      >Logout</a
    >
    <a href="#contact">Contact</a>
  </div>
  <div class="main">
    <div class="search1">Search Train Here</div>
    <div class="search">
      <form [formGroup]="SearchData">
        <div class="from">
          <div class="serchItemBox">
            <div class="searchItem">
              <img
                src="https://www.railofy.com/images/desktop_icons/From_train.svg"
              />
              <input
                type="text"
                placeholder="Enter From Station"
                formControlName="from"
                class="inputFrom"
              />
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <img
                src="https://www.railofy.com/images/desktop_icons/To_train.svg"
              />
              <input
                type="text"
                placeholder="Enter To Station"
                formControlName="to"
                class="inputFrom"
              />
            </div>
          </div>
          <div class="serchItemBox">
            <div class="searchItem">
              <input
                type="date"
                placeholder="Enter From Station"
                formControlName="date"
                class="inputFrom"
              />
            </div>
          </div>
          <div style="width: 18vw; height: 4vw">
            <button
              type="submit"
              class="btn btn-default searcButton"
              [disabled]="!SearchData.valid"
              (click)="searchNewTrain()"
            >
              Search</button
            ><br />
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="trains.length > 0">
      <div class="searchTable">
        <div class="search2">Here are some result....</div>
        <table>
          <tr>
            <th>Train ID</th>
            <th>Train Name</th>
            <th>From</th>
            <th>TO</th>
            <th>Action</th>
          </tr>
          <tbody>
            <tr *ngFor="let t of trains">
              <td>{{ t._id }}</td>
              <td>{{ t.train_name }}</td>
              <td>{{ t.from }}</td>
              <td>{{ t.to }}</td>
              <td>
                <button class="btn btn-danger" (click)="updateTicket(t._id)">
                  BOOK TICKET
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="trains.msg">
      <div class="searchTable">
        <div class="tab">No train available for this route</div>
      </div>
    </div>
  </div>
</div>
