<body>
<div class="container-fluid">
<h3>PAYMENT SCREEN</h3>
<div class="container">
  
<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">ID</th> -->
      <th scope="col">Train Name</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Fare</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <td>{{paymentMessage.id}}</td> -->
      <td>{{paymentMessage.trainName}}</td>
      <td>{{paymentMessage.from}}</td>
      <td>{{paymentMessage.to}}</td>
      <td>{{paymentMessage.fare}}</td>
      
    </tr>
  </tbody>
</table>
<form [formGroup]="PData">
<div>
Back Name:<input type="text" placeholder="Enter your bank name"formControlName="bank_name">&nbsp;
Account Number:<input type="password" placeholder="Enter your account number"formControlName="account_number"required>&nbsp;
IFCS code:<input type="text" placeholder="Enter your IFCS code"formControlName="ifcs_code" required><br><br><br></div>
<div class="one">
<button type="submit" class="btn btn-danger"[disabled]="!PData.valid" (click)="paymentId(id)">Pay</button></div>
</form>
<div>
  <button type="submit" class="btn"routerLink="/booking/:id'" routerLinkActive="active">Back</button>
  </div>
  
</div>

